<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="file" xsi:type="File"
            fileName="C:\\Users\\heather_nobles\\source\\repos\\ApiTestingFrameworkXunit\\Logs\\${var:ExecutingAssembly}.${level}.${shortdate}.log" encoding="utf-8"
            layout="WHEN: ${longdate}${newline}WHERE: ${logger}${newline}WHAT:${message}${newline}${exception:format=ToString}" />
    
    <target name="console" xsi:type="Console"
layout="WHEN: ${longdate}${newline}WHERE: ${logger}${newline}WHAT:${message}${newline}${exception:format=ToString}" />
    <target name="database" xsi:type="Database" >

      <connectionString>${gdc:item=connectionString}</connectionString>
      <!--
  Remarks:
    The appsetting layouts require the NLog.Extended assembly.
    The aspnet-* layouts require the NLog.Web assembly.
    The Application value is determined by an AppName appSetting in Web.config.
    The "NLogDb" connection string determines the database that NLog write to.
    The create dbo.Log script in the comment below must be manually executed.

-->

      <commandText>
        INSERT INTO dbo.Logs (Machine, ExecutingAssembly, UtcTimestamp, Source, Thread, Severity, Login, Message, Exception)
        VALUES (@Machine, @ExecutingAssembly, @UtcTimestamp, @Source, @Thread, @Severity, @Username, @Message, @Exception);
      </commandText>

      <parameter name="@Machine" layout="${machinename}" />
      <parameter name="@ExecutingAssembly" layout="${iis-site-name}" />
      <parameter name="@UtcTimestamp" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@Source" layout="${logger}" />
      <parameter name="@Thread" layout="${threadname}" />
      <parameter name="@Severity" layout="${level:uppercase=true}" />
      <parameter name="@Username" layout="${aspnet-user-identity}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception:format=ToString,StackTrace}" />
    </target>

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="file" />

    <logger name="*" minlevel="Error" writeTo="database" />
  </rules>
</nlog>